.App {
  background-color: #181818;
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.App-header {
  height: 100vh;
  min-width: 90vw;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  max-width: 5vw;
  min-width: 4vw;
}

.nav-icon {
  padding: 10px;
  color: #89f1f3;
}

.nav-icon :hover {
  color: #89f1f3;
}

.footer {
  border: 1px;
  border-color: #fff;
  border-top-style: solid;
  color: #fff;
  text-align: center;
  width: 100%;

  p {
    padding: 5px;
    margin: 0;
  }
}

/* Landing page --------------------------------------------------------------- */

.section {
  background-color: #121212;
  border-radius: 20px;
  margin: auto;
  padding: 20px 10px;
}

/* Signin / Login page -------------------------------------------------------------- */

.signinmodal {
  width: 25%;
  height: 60vh;
  margin: auto;
  border-radius: 30px;
  background-color: #121212;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  justify-content: center;

  p {
    font-size: 12px;
  }

  .signin_submit {
    background-color: #fff;
    padding: 15px;
    width: 80%;
    border-radius: 15px;
    font-weight: 600;
    color: #121212;
    font-size: 14px;
    margin: 10px auto;
  }
}

input {
  display: block;
  padding: 15px;
  border-radius: 20px;
  background-color: #181818;
  border-color: #89f1f3;
  margin: 10px auto;
  width: 80%;
  color: #fff;
}

input[type="text"] {
  background-image: url("./Images/usernameicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

input[type="password"] {
  background-image: url("./Images/pwordlock.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

/* Dashboard -------------------------------------------------------------- */

.dashboard {
  padding: 20px;
}

.currency-selector {
  display: flex;
  flex-direction: row;
}

.currency-button {
  background-color: #222222;
  color: #4c4c4c;
  border-radius: 20px;
}
